import(caret)
import(parallel)
import(pls)
import(corrplot)
import(data.table)
import(kernlab)
import(pls)
import(randomForest)
import(RSNNS)
import(doSNOW)
import(doMC)
import(parallel)
import(elasticnet)
import(glmnet)
import(data.table)

export(RRegrs)
